---
import Search from "lucide-static/icons/Search.svg";
import Headset from "lucide-static/icons/Headset.svg";
import Cog from "lucide-static/icons/Cog.svg";
import MessageCircleQuestionMark from "lucide-static/icons/message-circle-question-mark.svg";

import Wrench from "lucide-static/icons/Wrench.svg";

import data from "../../content/helpdesk-data.json";

const { categories, articles } = data;

const getTopArticles = (categorySlug) => {
  return articles
    .filter((article) => article.categorySlug === categorySlug)
    .slice(0, 4);
};

const cat1 = categories.slice(0, 2);
const cat2 = categories.slice(2, 4);
const IconMap = {
  Wrench: Wrench,
  Headset: Headset,
  Cog: Cog,
};
---

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/helpdesk/">
      <img
        src="/public/images/logo-170-bancoestado.png"
        alt="BancoEstado Logo"
        height="auto"
        style="max-width: 200px;"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownCategorias"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Categorías
          </a>
          <ul
            class="dropdown-menu dropdown-menu-start mega-menu"
            aria-labelledby="navbarDropdownCategorias"
          >
            <div class="fluid-container">
              <div class="row">
                <div class="col-md-6 col-lg-6 mb-3">
                  {
                    cat1.map((category) => {
                      const articlesList = getTopArticles(category.slug);
                      const Icon = IconMap[category.icon] || Wrench;
                      return (
                        <div class="mb-4" key={category.slug}>
                          <h6 class="dropdown-header fw-semibold">
                            <Icon width="16" height="16" class="me-1" />
                            {category.title}
                          </h6>
                          <ul class="list-unstyled ps-3">
                            {articlesList.map((article) => (
                              <li key={article.slug}>
                                <a
                                  class="dropdown-item"
                                  href={`/helpdesk/articles/${article.slug}/`}
                                >
                                  {article.title}
                                </a>
                              </li>
                            ))}
                            <li>
                              <a
                                class="dropdown-item text-decoration-underline"
                                href={`/helpdesk/category/${category.slug}/`}
                              >
                                ver más
                              </a>
                            </li>
                          </ul>
                        </div>
                      );
                    })
                  }

                  <div>
                    <a class="dropdown-item text-decoration-underline" href="#"
                      >ver más</a
                    >
                  </div>
                </div>

                <div class="col-md-6 col-lg-6 mb-3">
                  {
                    cat2.map((category) => {
                      const articlesList = getTopArticles(category.slug);
                      const Icon = IconMap[category.icon] || Wrench;
                      return (
                        <div class="mb-4" key={category.slug}>
                          <h6 class="dropdown-header fw-semibold">
                            <Icon width="16" height="16" class="me-1" />
                            {category.title}
                          </h6>
                          <ul class="list-unstyled ps-3">
                            {articlesList.map((article) => (
                              <li key={article.slug}>
                                <a
                                  class="dropdown-item"
                                  href={`/helpdesk/articles/${article.slug}/`}
                                >
                                  {article.title}
                                </a>
                              </li>
                            ))}
                            <li>
                              <a
                                class="dropdown-item text-decoration-underline"
                                href={`/helpdesk/category/${category.slug}/`}
                              >
                                ver más
                              </a>
                            </li>
                          </ul>
                        </div>
                      );
                    })
                  }
                </div>
              </div>

              <div class="row px-3">
                <div class="col-md-6 col-lg-6 mb-3">
                  <a aria-current="page" href="#">
                    <Headset /> Soporte mesa telefónica</a
                  >
                </div>
                <div class="col-md-6 col-lg-6 mb-3">
                  <a aria-current="page" href="#">
                    <MessageCircleQuestionMark /> Consulta al gestor del servicio</a
                  >
                </div>
              </div>
            </div>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Artículos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Mantenedores</a>
        </li>
      </ul>
      <form class="d-flex me-5">
        <a class="nav-link text-white" href="#"
          ><Search class="ms-2" size="16" /></a
        >
      </form>

      <li class="nav-item dropdown btn btn-user rounded-pill">
        <a
          class="nav-link dropdown-toggle active"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false">USERNAME</a
        >
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <a class="dropdown-item fw-semibold" href="#"
              >Mis consultas <span class="rounded-circle text-bg-primary px-2"
                >2</span
              >
            </a>
          </li>
          <li>
            <a class="dropdown-item fw-semibold" href="#">Cerrar sessión</a>
          </li>
        </ul>
      </li>
    </div>
  </div>
</nav>
